NODE_ENV=production
PORT=3000

# Database
MONGO_URI=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Google Gemini AI
GEMINI_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# VNPay
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_HOST=https://sandbox.vnpayment.vn
VNPAY_RETURN_URL_LOAN=https://api-davlibri.davit.io.vn/api/loans/check-payment-vnpay

# Email (Nodemailer)
EMAIL_USER=
EMAIL_PASS=

# Domain / CORS
CLIENT_URL=https://davlibri.davit.io.vn
BACKEND_URL=https://api-davlibri.davit.io.vn
